<%_
const update = [
  {
    title: 'スーパーセーラームーン<br><span>&</span><br>スーパーセーラーちびムーン',
    start:'7/1（金）',
    end:'7/7（木）',
    card:'2_B',
  },
  {
    title: 'スーパーセーラーマーキュリー<br><span>&</span><br>スーパーセーラージュピター',
    start:'7/8（金）',
    end:'7/14（木）',
    card:'3_B',
  },
  {
    title: 'スーパーセーラーマーズ<br><span>&</span><br>スーパーセーラーヴィーナス',
    start:'7/15（金）',
    end:'7/21（木）',
    card:'4_B',
  },
  {
    title: 'セーラー5戦士',
    start:'7/22（金）',
    end:'7/28（木）',
    card:'5_B',
  },
  {
    title: 'スーパーセーラーウラヌス<br><span>&</span><br>スーパーセーラーネプチューン',
    start:'7/29（金）',
    end:'8/4（木）',
    card:'6_B',
  },
  {
    title: 'スーパーセーラープルート<br><span>&</span><br>スーパーセーラーサターン',
    start:'8/5（金）',
    end:'8/11（木）',
    card:'7_B',
  },
  {
    title: 'スーパーセーラーちびムーン<br><span>&</span><br>外部太陽系4戦士',
    start:'8/12（金）',
    end:'8/18（木）',
    card:'8_B',
  },
];
_%>
<section class="lp-kv">
  <div class="lp-kv_inner">
    <div class="lp-kv_pcBg"></div>
    <div class="lp-kv_logo">
      <img src="<%= data.root %><%= data.assetsDir %><%= data.img0701 %>kv_logo01.png" alt="30th anniversary 美少女戦士セーラームーン">
    </div>
    <p class="lp-kv_header">
      <img src="<%= data.root %><%= data.assetsDir %><%= data.img0701 %>kv_text01.png" alt="WAON | Apple Pay">
    </p>
    <div class="lp-kv_flexBox">
      <div class="lp-kv_textBox">
        <h1 class="lp-kv_title">
          <img src="<%= data.root %><%= data.assetsDir %><%= data.img0701 %>kv_text02.png" alt="Apple PayのWAON限定!" class="lp-kv_title_top">
          <img src='<%= data.root %><%= data.assetsDir %><%= data.img0701 %>kv_text03.png' alt='ムーン・クライシス・メイク・アップ! Moon Crisis Make Up! WAON! 2022.7.1(金)〜8.18(木)' class="lp-kv_title_bottom">
        </h1>
        <p class="lp-kv_text">
          <img src="<%= data.root %><%= data.assetsDir %><%= data.img0701 %>kv_text04.png" alt="Apple PayのWAONにセーラー戦士たちが７週連続登場！お気に入りの限定デザインカードをダウンロードしよう！">
        </p>
      </div>
      <figure class="lp-kv_figure">
        <img src="<%= data.root %><%= data.assetsDir %><%= data.img0701 %>kv_img01.png" alt="">
      </figure>
    </div>
  </div>
</section>
<div class="lp-bgWrap">
  <nav class="lp-info_nav">
    <ul class="lp-info_list">
      <li class="lp-info_item">
        <a href="#linkDesign" class="lp-info_link">限定カードデザイン</a>
      </li>
      <li class="lp-info_item">
        <a href="#linkTwitter" class="lp-info_link">Twitterプレゼントキャンペーン</a>
      </li>
      <li class="lp-info_item">
        <a href="#linkFlow" class="lp-info_link">カードの発行方法</a>
      </li>
    </ul>
  </nav>
  <h2 class="lp-info_logo">
    <img src="<%= data.root %><%= data.assetsDir %><%= data.img0701 %>info_logo01.png" alt="つながるWAON 15th Anniversary × 30th anniversary 美少女戦士セーラームーン">
  </h2>
  <section class="lp-info">
    <h3 class="lp-info_head">
      <img src="<%= data.root %><%= data.assetsDir %><%= data.img0701 %>pc/info_text01.png" alt="Apple PayのWAONがセーラー戦士に華麗なる変身！" class="use--pc">
      <img src="<%= data.root %><%= data.assetsDir %><%= data.img0701 %>info_text01.png" alt="Apple PayのWAONがセーラー戦士に華麗なる変身！" class="use--sp">
    </h3>
    <p class="lp-info_text">
      <strong class="lp-yellowText">7週連続</strong>で登場する<strong class="lp-yellowText">限定デザイン</strong>をお見逃しなく!<br>さあ、お気に入りを選んで<br class="use--sp">「Moon Crisis Make Up！ WAON!」
    </p>
    <div class="lp-info_movie">
      <div class="lp-info_movieInner">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/p6J2Js1Wks0?rel=0" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </section>
  <section id="linkDesign" class="lp-design">
    <h3 class="lp-design_head">
      <img src="<%= data.root %><%= data.assetsDir %><%= data.img0701 %>pc/card_text01.png" alt="美少女戦士セーラームーンWAONをGETしよう！" class="use--pc">
      <img src="<%= data.root %><%= data.assetsDir %><%= data.img0701 %>card_text01.png" alt="美少女戦士セーラームーンWAONをGETしよう！" class="use--sp">
    </h3>
    <ul class="lp-design_list">
      <li class="lp-design_item">
        <p class="lp-design_headText">
          コラボ期間中ダウンロードできる、<br>
          <strong class="lp-yellowText">スペシャルカード！</strong>
        </p>
        <dl class="lp-design_box">
          <dt class="lp-design_title">
            <span class="lp-design_title_inline">スーパーセーラームーン</span>
          </dt>
          <dd class="lp-design_time">
            <span class="lp-design_time_inlineHead">ダウンロード期間</span><br class="use--sp">
            <span class="lp-design_time_inlineText">
              <strong class="lp-yellowText">7/1（金）</strong>00：00～<strong class="lp-yellowText">8/18（木）</strong>17：30
            </span>
          </dd>
          <dd class="lp-design_img">
            <img src="<%= data.root %><%= data.assetsDir %><%= data.img0701 %>card/1_B.png" alt="">
          </dd>
          <dd class="lp-design_text use--sp">
            <img src="<%= data.root %><%= data.assetsDir %><%= data.img0701 %>card_text02.svg" alt="発行手数料無料">
          </dd>
        </dl>
        <p class="lp-design_attention use--sp">
          <small>
            ※美少女戦士セーラームーンWAONはiPhone限定での発行となっております。
          </small>
        </p>
      </li>
      <li class="lp-design_item mod-red">
        <p class="lp-design_headText">
          7週連続で登場する、<strong class="lp-yellowText">1週間限定</strong>のカード！<br>今週のデザインはこちら！
        </p>
        <dl class="lp-design_box">
          <dt class="lp-design_title">
            <span class="lp-design_title_inline">
              <%- update[data.update].title %>
            </span>
          </dt>
          <dd class="lp-design_time">
            <span class="lp-design_time_inlineHead">ダウンロード期間</span><br class="use--sp">
            <span class="lp-design_time_inlineText">
              <strong class="lp-yellowText"><%- update[data.update].start %></strong>00：00〜<strong class="lp-yellowText"><%- update[data.update].end %></strong>17：30
            </span>
          </dd>
          <dd class="lp-design_img">
            <img src="<%= data.root %><%= data.assetsDir %><%= data.img0701 %>card/<%- update[data.update].card %>.png" alt="">
          </dd>
          <dd class="lp-design_text">
            <img src="<%= data.root %><%= data.assetsDir %><%= data.img0701 %>card_text02.svg" alt="発行手数料無料">
          </dd>
        </dl>
        <p class="lp-design_attention">
          <small>
            ※美少女戦士セーラームーンWAONはiPhone限定での発行となっております。
          </small>
        </p>
      </li>
    </ul>
  </section>
  <section class="lp-period">
    <h2 class="lp-periodTtl">
      美少女戦士セーラームーンWAON<br class="use--sp">ダウンロード（発行期間）について
    </h2>
    <div class="lp-periodWrap">
      <p class="lp-periodTime">
        毎週<strong>金曜日</strong>00：00～翌週<strong>木曜日</strong>17：30
      </p>
      <small class="lp-periodAnnotation">
          WAONアプリのダウンロードのタイミングにより、<br class="use--sp">上記期間外でもカード発行が可能な場合があります。
      </small>
      <div class="lp-attentionWrap acdn first-acdn">
        <h3 class="lp-attentionHead acdn_ttl first-acdn_ttl">
          <span>
            注意点を見る
          </span>
        </h3>
        <ul class="lp-attentionList acdn-target first-acdn-target">
          <% for (let j=0; j < attention.length; j++) { %>
            <li class="lp-attentionItem">
              <%- attention[j].txt %>
            </li>
            <% } %>
        </ul>
      </div>
    </div>
  </section>
  <section class="lp-download">
    <h3 class="lp-download_head">「WAONアプリ」をダウンロード</h3>
    <div class="lp-download_flexBox">
      <figure class="lp-download_waon">
        <img src="<%= data.root %><%= data.assetsDir %><%= data.img0701 %>icon_waon.svg" alt="WAONアプリ">
      </figure>
      <a href="https://apps.apple.com/jp/app/waon%E3%82%A2%E3%83%97%E3%83%AA/id1471075782" class="lp-download_btn" target="_blank">
        <img src="<%= data.root %><%= data.assetsDir %><%= data.img0701 %>icon_apple.svg" alt="App Storeからダウンロード">
      </a>
      <figure class="lp-download_qr use--pc">
        <img src="<%= data.root %><%= data.assetsDir %><%= data.img0701 %>pc/qr.svg" alt="ダウンロードQRコード">
      </figure>
    </div>
    <a href="#linkFlow" class="lp-download_link">
      <span class="lp-download_link_inline">
        美少女戦士セーラームーンWAONの<br class="use--sp">発行方法はこちら
      </span>
    </a>
  </section>