<%_
  var data = {
    url: '',/* スラッシュ始まりのドメイン以下URL ( TOPの場合は空文字で ) */
    name: 'top',/* bodyタグにつくid名 */
    title:'',/* TOPの場合は空文字で */
    description:'',/* TOPの場合は空文字で */
    keyword:'',/* TOPの場合は空文字で */
    device: 'pc', 
    current:'./'   
  } 
_%>  
<%_ data.asset = function(){ _%> 
<%_ }; data.content = function(){ _%>
<main>
  <div>
    <div>
      <div>waon | a pay</div>
      <div>30周年ロゴ</div>
    </div>
    <div>
      <div>applepayのwaon限定！</div>
      <h1>ムーン・クライシス・メイク・アップ</h1>
    </div>
    <div>
      Apple PayのWAONにセーラー戦士たちが７週連続登場！<br>
      お気に入りの限定デザインカードをダウンロードしよう！
    </div>
    <div>
      メインビジュアル
    </div>
  </div>
  <!-- MVまで-->
  <nav>
    <ul>
      <li>限定カードデザイン</li>
      <li>Twitterプレゼントキャンペーン</li>
      <li>カードの発行方法</li>
    </ul>
  </nav>
  <!-- ローカルナビまで-->
  <div>
    <div>
      つながるWAON × セーラームーン
    </div>
    <h2>
      Apple PayのWAONがセーラー戦士に華麗なる変身！
    </h2>
    <div>
      7週連続で登場する限定デザインをお見逃しなく！<br>
      さあ、お気に入りを選んで<br>
      「Moon Crisis Make Up! WAON!」
    </div>
    <div>
      <video></video>
    </div>
  </div>
  <!-- videoまで-->
  <div>
    <h2>美少女戦士セーラームーン<br>WAONをGETしよう！</h2>
    <div>
      <div>コラボ期間中ダウンロードできる、スペシャルカード！</div>
      <div class="cp-cad-all">
        <h3>スーパーセーラームーン</h3>
        <div>ダウンロード期間<br><em>7/1（金）</em>00：00〜<em>8/18（木）</em>17：30</div>
        <div>カードイメージ</div>
      </div>
    </div>
    <div>※美少女戦士セーラームーンWAONはiPhone限定での発行となっております。</div>
    <div>
      <div>7週連続で登場する、1週間限定のカード！<br>今週のデザインはこちら！</div>
      <div class="cp-cad-week">
        <h3>スーパーセーラームーン & スーパーセーラーちびムーン</h3>
        <div>ダウンロード期間<br><em>7/1（金）</em>00：00〜<em>7/7（木）</em>17：30</div>
        <div>カードイメージ</div>
      </div>
    </div>
    <div>※美少女戦士セーラームーンWAONはiPhone限定での発行となっております。</div>
  </div>
  <!--現在発行中のカードまで-->
  <div>
    <div>
      美少女戦士セーラームーンWAON<br>
      ダウンロード（発行期間）について
    </div>
    <div>
      毎週<em>金曜日</em>00：00〜翌週<em>木曜日</em>17：30
    </div>
    <div>
      WAONアプリのダウンロードのタイミングにより、上記期間外でもカード発行が可能な場合があります。
    </div>
    <div>
      <div>注意点を見る</div>
    </div>
  </div>
  <!--ダウンロードまで-->
  <div>
    <div>
      「WAONアプリ」をダウンロード
    </div>
    <div>WAONアイコン</div>
    <div>App Storeからダウンロード</div>
  </div>
  <div>
    美少女戦士セーラームーンWAONの発行方法はこちら
  </div>
  <!--発行方法はこちらボタンまで-->
  <div>
    <h2>カードデザインは全8種類！<br>毎週更新をお楽しみに！</h2>
    <ul>
      <li>
        <div>カードイメージ</div>
        <div>
          <p>公開中</p>
          <p>7/1（金）00：00〜<br>8/18（木）17：30</p>
        </div>
      </li>
      <li>
        <div>カードイメージ</div>
        <div>
          <p>公開中</p>
          <p>7/1（金）00：00〜<br>8/18（木）17：30</p>
        </div>
      </li>
    </ul>
    <div>
      ※美少女戦士セーラームーンWAONは発行期間になりましたらWAONアプリ画面の「WAONを追加」からカード選択画面に表示されます。
    </div>
  </div>
  <!--カードデザインまで-->
  <div class="cp-twitter">
    <div class="cp-twitter-inner">
      <div class="cp-twitter-box">
        <div class="cp-twitter-label">期間限定</div>
        <h2 class="cp-twitter-title">WAON × 美少女戦士セーラームーンの<br>公式アカウントを<br>フォローしよう！</h2>
        <div class="cp-twitter-btnArea">
          <p>限定デザインカードの最新情報をお届け中！</p>
          <a>Twitter公式アカウントはこちら</a>
        </div>
        <div class="cp-twitter-read">7/29（金）から<br>Twitterフォロー&リツイートキャンペーン<br>スタート予定！乞うご期待！</div>
      </div>
    </div>
  </div>
  <!--twitterまで-->
  <div>
    <h2>美少女戦士セーラームーン<br>WAON発行方法</h2>
    <ol>
      <li>
        <span>1</span>
        <div>
          <div>
            「WAONアプリ」をダウンロード
          </div>
          <div>WAONアイコン</div>
          <div>App Storeからダウンロード</div>
        </div>
      </li>
      <li>
        <span>2</span>
        <p>WAONアプリ<br>起動</p>
        <img src="">
      </li>
      <li>
        <span>3</span>
        <p>利用規約<br>同意</p>
        <img src="">
      </li>
      <li>
        <span>4</span>
        <p>SMS認証</p>
        <img src="">
      </li>
    </ol>
  </div>
  <!--発行方法まで-->
  <div>
    <div>
      美少女戦士セーラームーンWAON<br>
      ダウンロード（発行期間）について
    </div>
    <div>
      毎週<em>金曜日</em>00：00〜翌週<em>木曜日</em>17：30
    </div>
    <div>
      WAONアプリのダウンロードのタイミングにより、上記期間外でもカード発行が可能な場合があります。
    </div>
    <div>
      <div>注意点を見る</div>
    </div>
  </div>
  <!--ダウンロードまで-->
  <div>
    <ul>
      <li>&copy;武内直子・PNP／劇場版「美少女戦士セーラームーンEternal」製作委員会</li>
      <li>&copy;Naoko Takeuchi</li>
    </ul>
  </div>
  <!--コピーライトまで-->
</main>

<%_ } _%> 
<%_ /* 以下includeファイル */ _%>
<%- include( data.current + 'includes/_head_' + data.device , { data : data } ); %>
<%- data.content(); %>
<%- include( data.current + 'includes/_footer_' + data.device , { data : data } ); %>
<%- data.asset(); %>
<%- include( data.current + 'includes/_foot_' + data.device , { data : data } ); %>
